/* Footer.css */
.footer {
    background-color: #1e3550;
    color: white;
    text-align: left;
    padding: 40px 20px;
}

.footer-content {
    display: flex;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap; /* Permite que as colunas se movam para a próxima linha */
}

.footer-column {
    flex: 1;
    margin: 0 20px;
    min-width: 200px; 
    text-align: center; 
}

.footer-column h4 {
    margin-bottom: 15px;
    color: white;
    font-weight: 800;
}

.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column ul li {
    margin: 10px 0;
}

.footer-column a {
    color: rgb(173, 171, 171);
    text-decoration: none;
}

.footer-column a:hover {
    text-decoration: underline;
    transition: 2s;
}

.footer-line {
    border-top: 1px solid rgb(173, 171, 171);
    margin: 20px 0;
}

.footer-bottom h4 {
    text-align: center;
    margin-top: 10px;
    color: white;
    font-size: 1rem; 
}

/* Media Query para telas menores */
@media (max-width: 768px) {
    .footer-content {
        flex-direction: column; /* Muda a direção do flex para coluna */
        align-items: center; /* Centraliza as colunas */
    }

    .footer-column {
        margin: 10px 0; /* Margem vertical entre as colunas */
        /* text-align: center; */ /* Já está definido na classe .footer-column */
    }
    .footer-bottom h4 {
        font-size: 1.2rem; /* Tamanho da fonte reduzido em telas menores */
        margin-top: 8px; /* Ajuste da margem superior, se necessário */
    }
}