a {
  text-decoration: none;
}

li {
  list-style: none;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 95%;
  padding: 20px;
  font-family: "Poppins", sans-serif;
  background: transparent;
  position: relative;
  font-weight: 400;
  color: #2b4a6b;
  margin-left: 150px;
}

.nav-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2em;
  flex-grow: 1;
}

.nav-links a {
  color: #2b4a6b;
}

h4 {
  color: #2b4a6b;
}

.logo {
  height: 80px;
  width: 80px;
  display: block;
}

.Login {
  display: flex;
  align-items: center;
  justify-content: center;
  right: 0;
  margin-left: auto;
  gap: 8px;
  color: #ffffff;
  padding: clamp(8px, 0.6vw, 24px) clamp(16px, 1.2vw, 48px);
  font-weight: 500;
  line-height: 120%;
  font-size: clamp(14px, 0.938vw, 20px);
  font-family: "Poppins", sans-serif;
  background-color: #1e3550;
  border-radius: clamp(28px, 2.5vw, 68px);
  border: 0.5px solid #2b4a6b;
  text-transform: uppercase;
  text-decoration: none !important;
  text-align: center;
  transition: background-color 0.3s ease, border-color 0.3s ease;
  cursor: pointer;
  max-height: 50px;
}

.Login:hover {
  background-color: #162b45;
  border-color: #162b45;
  transform: scale(1.05);
}

.menu {
  display: flex;
  align-items: center;
  gap: 2em;
  font-size: 20px;
  margin-left: 10%;
  margin-right: 10%;
  white-space: nowrap;
}

.menu li:hover {
  border-radius: 5px;
  transition: 0.5s ease;
  text-decoration-line: underline;
}

.menu li {
  padding: 5px 14px;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }

  .nav-links {
    flex-direction: column;
    gap: 1em;
    width: 100%;
    align-items: center;
  }

  .menu {
    flex-direction: column;
    gap: 1em;
  }

  .Login {
    margin-top: 10px;
    width: 100%;
  }
}
