a {
    text-decoration: none;
}

li {
    list-style: none;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    font-family: "Poppins", sans-serif;
    background-color: rgb(255, 255, 255);
    font-weight: 100;
    color: #2B4A6B;
}

.nav-links {
    display: flex; 
    align-items: center;
    margin-left: 50px;
}

.nav-links a {
    margin: 0 15px;
    color: #2B4A6B;
}

h4 {
    margin: 0 10px;
    color: #2B4A6B;
}

/* LOGO */
.logo {
    height: 80px;
    width: 80px;
}

.Login {
    display: flex; /* Use flexbox for alignment */
    align-items: center; /* Center items vertically */
    margin-right: 10px;
    color: #FFFFFF;
    padding: 10px 20px; /* Add more padding for a better look */
    font-weight: 700;
    line-height: 120%;
    font-family: "Poppins", sans-serif;
    background-color: #1E3550; /* Button background color */
    border-radius: 28px; /* Rounded corners */
    border: 0.5px solid #2B4A6B; /* Border color */
    text-transform: uppercase;
    text-decoration: none;
    transition: background-color 0.3s ease, border-color 0.3s ease, transform 0.3s ease; /* Add transition for hover effects */
    cursor: pointer; /* Change cursor to pointer */
}

.Login:hover {
    background-color: #2B4A6B; /* Change background on hover */
    border-color: #ffffff; /* Change border color on hover */
    transform: scale(1.05); /* Slightly enlarge the button on hover */
}

.Login .material-icons {
    margin-right: 25px; /* Space between icon and text */
    font-size: 20px; /* Adjust icon size */
}

/* NAVBAR MENU */
.menu {
    display: flex;
    align-items: center; /* Center items vertically */
    gap: 1em;
    font-size: 18px;
}

.menu li:hover {
    border-radius: 5px;
    transition: 0.5s ease;
    text-decoration-line: underline;
}

.menu li {
    padding: 5px 14px;
}